[submodule "Test/dep/googletest"]
	path = Test/dep/googletest
	url = https://github.com/google/googletest.git
[submodule "HiveEngine/dep/raylib"]
	path = HiveEngine/dep/raylib
	url = https://github.com/raysan5/raylib.git