[submodule "LypoEngine/dep/glfw"]
	path = LypoEngine/dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "LypoEngine/dep/entt"]
	path = LypoEngine/dep/entt
	url = https://github.com/skypjack/entt.git
[submodule "LypoEngine/dep/glm"]
	path = LypoEngine/dep/glm
	url = https://github.com/g-truc/glm.git
